{
	"experimentalOperatorPosition": "start",
	"experimentalTernaries": true,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": ".prettierrc",
			"options": { "parser": "json" }
		},
		{
			"files": ".postcss",
			"options": { "parser": "css" }
		}
	],

	"printWidth": 120,
	"quoteProps": "consistent",
	"semi": true,
	"singleQuote": false,
	"svelteSortOrder": "options-scripts-markup-styles",
	"svelteStrictMode": true,
	"tabWidth": 4,
	"tailwindStylesheet": "./src/app.css",
	"trailingComma": "es5",
	"useTabs": true
}
