@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-svelte";
@import "@skeletonlabs/skeleton/themes/cerberus";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-arial: "Arial", sans-serif;
	--font-dejaVuSans: "DejaVu Sans", sans-serif;
	--font-notoSans: "Noto Sans", sans-serif;
	--font-roboto: "Roboto", sans-serif;
	--font-segoeUI: "Segoe UI Variable Text", sans-serif;
	--font-tahoma: "Tahoma", sans-serif;
	--font-verdana: "Verdana", sans-serif;

	--font-century: "Century", "Gothic", "CenturyGothic", "AppleGothic", serif;
	--font-dejaVuSerif: "DejaVu Serif", serif;
	--font-garamond: "Garamond", "Baskerville", "Baskerville Old Face", "Hoefler Text", serif;
	--font-georgia: "Georgia", "Times", serif;
	--font-notoSerif: "Noto Serif", serif;
	--font-palatino: "Palatino Linotype", serif;
	--font-timesNewRoman: "Times New Roman", serif;

	--font-cascadiaMono: "Cascadia Mono", monospace;
	--font-courierNew: "Courier New", monospace;
	--font-ibmPlexMono: "IBM Plex Mono", monospace;
	--font-robotoMono: "Roboto Mono", monospace;
	--font-sourceCodePro: "Source Code Pro", monospace;
	--font-ubuntuMono: "Ubuntu Mono", monospace;

	--breakpoint-3xs: 16rem;
	--breakpoint-2xs: 24rem;
	--breakpoint-xs: 32rem;
	--breakpoint-3xl: 120rem;

	--color-digital-blue-50: oklch(95.13% 0.023 256.11);
	--color-digital-blue-100: oklch(90.17% 0.048 259.11);
	--color-digital-blue-200: oklch(80.72% 0.097 258.14);
	--color-digital-blue-300: oklch(71.49% 0.149 258.39);
	--color-digital-blue-400: oklch(63.31% 0.198 258.73);
	--color-digital-blue-500: oklch(56.35% 0.241 260.82);
	--color-digital-blue-600: oklch(48.02% 0.201 260.48);
	--color-digital-blue-700: oklch(39.11% 0.161 260.13);
	--color-digital-blue-800: oklch(29.89% 0.116 259.04);
	--color-digital-blue-900: oklch(19.67% 0.068 256.39);
	--color-digital-blue-950: oklch(16.49% 0.052 253.91);
}
